<% include ../include/headcss.ejs %>


<body ng-app="b2clogin" ng-controller="campaignlistController as profile">

<b2c-header currentuser="profile.currentUser"></b2c-header>

<div class="container-fluid campaignlist-container" ng-cloak>
    <!-- banner -->
    <div class="campaignlist-banner row text-center">
        <img src="/app/css/images/landing_page_banner.png">
    </div>

    <!-- campaign-list -->
    <div class="row campaign-list">
        <div class="col-xs-12">
            <div class="center-block">
                <div class="header row">
                    <h3 class="col-xs-3 text-left">{{'CampaignListPageMatches' | translate}}</h3>
                    <!--<a class="col-xs-2 col-xs-offset-8 text-right">更多</a>-->
                </div>
                <div class="section row">

                    <% campaignList.forEach(function(campaign) { %>

                    <div class="figure col-xs-6">
                        <a href="/e4e/campaign/<%=campaign._id%>">
                            <img src="/<%= campaign.pictures.listCover ? campaign.pictures.listCover.path : ''  %> ">
                        </a>
                        <div class="caption row">
                            <div class="col-xs-8 text-left">
                                <p><%= campaign.name %></p>
                                <span class="date"><%= campaign.matchDate %></span>
                                <span class="count"><%= campaign.totalMembers %> {{'CampaignListPageJoinedCountPrefix' | translate}}{{campaign.totalMembers > 1 ? 'CampaignListPageJoinedCountPlural' : '' | translate}} {{'CampaignListPageJoinedCountSuffix' | translate}}</span>
                            </div>
                            <div class="col-xs-4 text-right">
                                <a class="button" href="/e4e/campaign/<%=campaign._id%>">{{'CampaignListPageJoin' | translate}}</a>
                            </div>
                        </div>
                    </div>

                    <% }); %>



                </div>
            </div>
        </div>
    </div>

    <div class="row game-list">
        <div class="col-xs-12">
            <div class="center-block">
                <div class="header row">
                    <h3 class="col-xs-2 text-left">{{'CampaignListPageHotGames' | translate}}</h3>
                    <!--<a class="col-xs-2 col-xs-offset-8 text-right">更多</a>-->
                </div>
                <div class="section row">
                    <div class="figure col-xs-3">
                        <a href="/cn/marksimos.html" target="_blank" class="introduce"><img src="/app/css/images/landing_page_game.png"></a>

                        <div class="caption row">
                            <div class="col-xs-12">
                                <p>MarkSimos {{'CampaignListPageBusinessSimulationMatch' | translate}}</p>
                                <span class="date">2015/09/02</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="row coach-list">
        <div class="col-xs-12">
            <div class="center-block">
                <div class="header row">
                    <h3 class="col-xs-2 text-left">明星教练</h3>
                    <a class="col-xs-2 col-xs-offset-8 text-right">更多</a>
                </div>
                <div class="section row">
                    <div class="col-xs-3">
                        <div class="figure text-center">
                            <img>
                            <div class="caption">
                                <div class="name">Keith Goodail</div>
                                <div class="title">情商教练</div>
                                <img>
                                <div><button>关注</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="figure text-center">
                            <img>
                            <div class="caption">
                                <div class="name">Keith Goodail</div>
                                <div class="title">情商教练</div>
                                <img>
                                <div><button>关注</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="figure text-center">
                            <img>
                            <div class="caption">
                                <div class="name">Keith Goodail</div>
                                <div class="title">情商教练</div>
                                <img>
                                <div><button>关注</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="figure text-center">
                            <img>
                            <div class="caption">
                                <div class="name">Keith Goodail</div>
                                <div class="title">情商教练</div>
                                <img>
                                <div><button>关注</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>

<div class="campaignlist-footer text-center">
    <div class="center-block">
        <img class="join" src="/app/css/images/landing_page_join_button.png">
        <img src="/app/css/images/landing_page_footer.png">
    </div>
</div>

<% include ../include/footer.ejs %>
<% include ../include/footerscriptlogin.ejs %>
